# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TestTest.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\School Account\source\repos\TestTest\.idea\.idea.TestTest.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
